<!DOCTYPE html>
<html>
<head>
<title>Education Website</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>	
	
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>	
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500&display=swap" rel="stylesheet">
	

<style>
	*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    border:none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
*::selection{
    background:#f39c12;
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.5rem;
}

html::-webkit-scrollbar-track{
    background:#333;
}

html::-webkit-scrollbar-thumb{
    background:linear-gradient(#f1c40f, #f39c12);
}

section{
    min-height: 100vh;
    padding:1rem 7%;
    padding-top:6rem;
}

.btn{
    padding:.7rem 3rem;
    font-size: 2rem;
    color:#fff;
    background: #f1c40f;
    border-radius: 5rem;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.btn::before{
    content: '';
    position: absolute;
    top:-1rem; left:-100%;
    background:#fff9;
    height:150%;
    width:20%;
    transform: rotate(25deg);
    z-index: -1;
}

.btn:hover::before{
    transition: .3s linear;
    left: 120%;
}

.heading{
    color:#444;
    padding:1rem;
    font-size: 4rem;
    text-align: center;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    padding:1.5rem 7%;
    background: #f1c40f;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

header .logo{
    color:#fff;
    font-size: 2.5rem;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li{
    margin:0 1rem;
}

header .navbar ul li a{
    font-size: 2rem;
    color:#fff;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:#444;
}

header #login{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
}

header #login:hover{
    color:#444;
}

header #menu{
    font-size: 3rem;
    color:#fff;
    cursor: pointer;
    display: none;
}

</style>


<header>

    <div id="menu" class="fas fa-bars"></div>

    <a href="/" class="logo"><i class="fas fa-user-graduate"></i>EDUCATIVE</a>


    <a href="/login"><div id="login" class="fas fa-user-circle"></div></a>

</header>

<div style= "margin-top: 10%;">
	<h1 style="margin-left: 29%; margin-top: 25px; margin-bottom: 50px;">
	Log in!
</h1>
<div style="margin-left: 30%; margin-top: 25px;">
<form style="width: 40%;" action="/login" method="POST">
	<div class="form-group">
	<input class="form-control" type= "text" placeholder= "Username" name="username">
	</div>
    <div class="form-group">
	<input class="form-control" type= "password" placeholder= "password" name="password">
	</div>
    
    <div class="form-group">
	<input class="btn btn-lg btn-primary form-control" style="padding-bottom: 30px; background-color: #f39c12;" type= "submit" value="Log in">
	</div>
	<p>Dont Have account <span><a style="color: #f39c12; font-weight: 700;" href="/register">Sign Up</a></span></p>

</form>
</div>
</div>